* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f0f2f5;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 80px;
}

/* IZQUIERDA */
.left {
    max-width: 500px;
}

.logo {
    color: #1877f2;
    font-size: 64px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 28px;
    font-weight: normal;
    color: #1c1e21;
}

/* DERECHA */
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: white;
    width: 396px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.forgot {
    display: block;
    text-align: center;
    margin: 14px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.line {
    border-top: 1px solid #dadde1;
    margin: 20px 0;
}

.create {
    display: block;
    margin: auto;
    padding: 12px 16px;
    background: #42b72a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.page-link {
    margin-top: 20px;
    font-size: 14px;
    color: #1c1e21;
}

